:root {
  --grey: rgb(24, 24, 27);
  font-family:ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
    background: var(--grey);
    margin: 0;
    overflow: auto;
    padding: 16px;
    color: white;
}

body.halloween-theme {
  --quiteALot: rgb(248 232 152);
  --aLot: rgb(250 204 21);
  --okay: rgb(202 138 4);
  --meh: rgb(133 77 14);
}

body.winter-theme {
  --quiteALot: rgb(191 219 254);
  --aLot: rgb(96 165 250);
  --okay: rgb(29 78 216);
  --meh: rgb(30 58 138);
}

body.barbie-theme {
  --quiteALot: rgb(251 207 232);
  --aLot: rgb(244 114 182);
  --okay: rgb(190 24 93);
  --meh: rgb(131 24 67);
}


body.oppenheimer-theme {
  --quiteALot: rgb(254 249 195);
  --aLot: rgb(251 191 36);
  --okay: rgb(194 65 12);
  --meh: rgb(120 53 15);
}

body.github-theme {
  --quiteALot: rgb(103, 237, 163);
  --aLot: rgb(20, 199, 101);
  --okay: rgb(0, 129, 58);
  --meh: rgb(0, 90, 40);
}


a {
  color: white;
}

.body-content {
  height: 100%;
}

.title {
  padding: 8px 0px;
  font-size: 24px;
  font-weight: normal;
  margin: 4px 0px;
}

.data-title {
  padding: 8px 0px;
  font-weight: normal;
  margin: 0px;
}

.subtitle {
  font-size: 16px;
}

.aligned-text {
  margin-left: 8px;
}

.calendar {
  white-space: nowrap;
  overflow: auto;
}

@media (min-width: 768px) {
  .body-content {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  .calendar {
    overflow: visible;
  }
}

.calendar-week {
    width: 14px;
    display: inline-block;
}

.calendar-day {
    width: 10px;
    height: 10px;
    margin: 4px;
    border-radius: 2px;
}

/* FULLY COMPACT SIZE */
body.fully-compact-size .calendar-week {
  width: auto;
}
body.fully-compact-size .calendar-day {
  margin: 0;
  border-radius: 0px;
}

/* COMPACT SIZE */
body.compact-size .calendar-week {
  width: 12px;
}
body.compact-size .calendar-day {
  margin: 2px;
  border-radius: 1px;
}

.calendar-day.quiteALot {
  background-color: var(--quiteALot);
}

.calendar-day.aLot {
  background-color: var(--aLot);
}

.calendar-day.okay {
  background-color: var(--okay);
}

.calendar-day.meh {
  background-color: var(--meh);
}

.calendar-day.nothing {
  background-color: rgb(9 9 11);
}

.theme-link {
    margin-right: 8px;
    line-height: 24px;
}

.centered-box {
  display: flex;
 justify-content: center;
 padding: 10px;
 margin-top: 10px;
}

input {
  color: black;
  padding: 8px;
  border-radius: 6px;
  margin: 0 8px;
  border: none;
  font-size: 16px;
}

button {
  color: white;
  padding: 8px 16px;
  border-radius: 6px;
  background-color: rgb(22, 163, 74);
  border: none;
  font-size: 16px;
  line-height: 24px;
}