:root {
  --grey: rgb(24, 24, 27);
  --contribution-hue: 145;
  --contribution-saturation: 65%;
  --contribution-min-lightness: 14%;
  --contribution-lightness-range: 74%;
  font-family:ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
    background: var(--grey);
    margin: 0;
    overflow: auto;
    padding: 16px;
    color: white;
}

body.rust-theme {
  --contribution-hue: 25;
  --contribution-saturation: 85%;
}

body.javascript-theme {
  --contribution-hue: 52;
  --contribution-saturation: 85%;
}

body.go-theme {
  --contribution-hue: 195;
  --contribution-saturation: 70%;
}

body.linux-theme {
  --contribution-hue: 40;
  --contribution-saturation: 75%;
}

body.mono-theme {
  --contribution-saturation: 0%;
  --contribution-min-lightness: 20%;
  --contribution-lightness-range: 80%;
}

a {
  color: white;
}

.body-content {
  height: 100%;
}

.title {
  padding: 8px 0px;
  font-size: 24px;
  font-weight: normal;
  margin: 4px 0px;
}

.data-title {
  padding: 8px 0px;
  font-weight: normal;
  margin: 0px;
}

.subtitle {
  font-size: 16px;
}

.aligned-text {
  margin-left: 8px;
}

.calendar {
  white-space: nowrap;
  overflow: auto;
}

@media (min-width: 768px) {
  .body-content {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  .calendar {
    overflow: visible;
  }
}

.calendar-week {
    width: 14px;
    display: inline-block;
}

.calendar-day {
    width: 10px;
    height: 10px;
    margin: 4px;
    border-radius: 2px;
}

/* FULLY COMPACT SIZE */
body.fully-compact-size .calendar-week {
  width: auto;
}
body.fully-compact-size .calendar-day {
  margin: 0;
  border-radius: 0px;
}

/* COMPACT SIZE */
body.compact-size .calendar-week {
  width: 12px;
}
body.compact-size .calendar-day {
  margin: 2px;
  border-radius: 1px;
}

.calendar-day.active {
  background-color: hsl(var(--contribution-hue), var(--contribution-saturation), calc(var(--contribution-min-lightness) + var(--contribution-shade) * var(--contribution-lightness-range)));
}

.calendar-day.nothing {
  background-color: rgb(9 9 11);
}

.customization-link {
    margin-right: 8px;
    line-height: 24px;
}

.centered-box {
  display: flex;
 justify-content: center;
 padding: 10px;
 margin-top: 10px;
}

input {
  color: black;
  padding: 8px;
  border-radius: 6px;
  margin: 0 8px;
  border: none;
  font-size: 16px;
}

button {
  color: white;
  padding: 8px 16px;
  border-radius: 6px;
  background-color: rgb(22, 163, 74);
  border: none;
  font-size: 16px;
  line-height: 24px;
}